<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500429207788-8l6gmug03ofsokbi6f3o6et5hab3hf2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500429207788-8l6gmug03ofsokbi6f3o6et5hab3hf2n</string>
	<key>API_KEY</key>
	<string>AIzaSyBwQTyXRbuDtOtoXjklQiSKVQnH9evcF4s</string>
	<key>GCM_SENDER_ID</key>
	<string>500429207788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trax.Trax123</string>
	<key>PROJECT_ID</key>
	<string>frofferapp-bfc08</string>
	<key>STORAGE_BUCKET</key>
	<string>frofferapp-bfc08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500429207788:ios:faf3d5a27a94295605cdc9</string>
</dict>
</plist>