<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Trax.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>407C8FDE5F71498D245A99BC8FABE8C683DB2142</string>
				<key>dateExpires</key>
				<string>01/09/2023</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>407C8FDE5F71498D245A99BC8FABE8C683DB2142</string>
						<key>dateExpires</key>
						<string>01/09/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P55P4VVPN6</string>
						<key>name</key>
						<string>khalid karim</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>407C8FDE5F71498D245A99BC8FABE8C683DB2142</string>
						<key>dateExpires</key>
						<string>01/09/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EzPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P55P4VVPN6</string>
						<key>name</key>
						<string>khalid karim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>407C8FDE5F71498D245A99BC8FABE8C683DB2142</string>
						<key>dateExpires</key>
						<string>01/09/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P55P4VVPN6</string>
						<key>name</key>
						<string>khalid karim</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>407C8FDE5F71498D245A99BC8FABE8C683DB2142</string>
						<key>dateExpires</key>
						<string>01/09/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P55P4VVPN6</string>
						<key>name</key>
						<string>khalid karim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>407C8FDE5F71498D245A99BC8FABE8C683DB2142</string>
						<key>dateExpires</key>
						<string>01/09/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P55P4VVPN6</string>
						<key>name</key>
						<string>khalid karim</string>
					</dict>
					<key>versionNumber</key>
					<string>13.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>407C8FDE5F71498D245A99BC8FABE8C683DB2142</string>
						<key>dateExpires</key>
						<string>01/09/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P55P4VVPN6</string>
						<key>name</key>
						<string>khalid karim</string>
					</dict>
					<key>versionNumber</key>
					<string>5.13.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>407C8FDE5F71498D245A99BC8FABE8C683DB2142</string>
						<key>dateExpires</key>
						<string>01/09/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P55P4VVPN6</string>
						<key>name</key>
						<string>khalid karim</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.6</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>P55P4VVPN6.com.trax.Trax123</string>
				<key>com.apple.developer.team-identifier</key>
				<string>P55P4VVPN6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Trax.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>75174e8c-0bfd-4567-83c6-70e647bf2fd1</string>
				<key>dateExpires</key>
				<string>01/09/2023</string>
				<key>name</key>
				<string>TraxProfile01</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>P55P4VVPN6</string>
				<key>name</key>
				<string>khalid karim</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
